
<div class="container">
<div class="row">
  <div id="false-burgers" class="col-6">
    {{#each burger}}
      {{#unless devoured}}
          <p class="burger-text">{{this.burger_name}} <button class="btn devour-btn" data-id="{{this.id}}">Devour!</button><span class="btn delete-btn" data-id="{{this.id}}">&#10006;</span></p>
      {{/unless}}
    {{/each}}
  </div>
  <div id="true-burgers" class="col-6">
    {{#each burger}}
      {{#if devoured}}
          <p class="devoured-text">{{this.burger_name}} <span class="btn delete-btn" data-id="{{this.id}}">&#10006;</span></p>
      {{/if}}
    {{/each}}
  </div>  
</div>
</div>


<div class="container">
<div class="row">
  <div class="col-12">
  <h2>Add a Burger</h2>
  <form class="create-form">
    <div class="form-group">
      <input type="text" id="burger-name" name="name">
    </div>
    <button class="btn submit-btn" type="submit">Submit Burger</button>
  </form>
  </div>
</div>
</div>